 <h3>{{title$ | async}}</h3>
 <div *ngIf="clues$ | async as clues">
    <div class="clue-list-container">
        <div *ngFor="let clue of clues$ | async">
            <ng-container [ngSwitch]="clue.media">
              <div *ngSwitchCase="'audio'">
                <!-- Display audio card here -->
                <audio controls [style.height]="clue?.cardHeight">
                  <source [src]="clue.asset" type="audio/mpeg">
                </audio>
              </div>
              <div class="image-card" [style.height]="clue?.cardHeight" *ngSwitchCase="'image'">
                <!-- Display image card here -->
                <img [src]="clue.asset" alt="Image">
              </div>
              <div class="text-card" *ngSwitchCase="'text'" [style.height]="clue?.cardHeight">
                <!-- Display text card here -->
                {{clue.asset}}
              </div>
            </ng-container>
          </div>
          <div *ngIf="hiddenListToggle">
          <div *ngIf="hiddenClues$ | async as clues">
              <div class="clue-list-container">
                <div *ngFor="let clue of hiddenClues$ | async">
                  <div *ngIf="clue.key !='title'">
                    <mm-info-modal-clue-list-item [clue]="clue"></mm-info-modal-clue-list-item>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>
</div>
<button *ngIf="!hiddenListToggle" mat-flat-button color="primary" class="show-hidden-list-button" (click)="toggleHiddenList()">Use another clue</button>
