.clue-list-container {
  width: 100%;
  text-align: center;
}


.show-hidden-list-button {
  width: 100%;
  text-align: center;
}

.image-card {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  margin: 8px;
  border-radius: 5px;
}

.image-card img {
  width: 100%;
    height: 100%;
    object-fit: contain;
}

.text-card {
  display: flex;
  flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    overflow: hidden;
    white-space: pre-wrap;
  margin: 8px;
  border-radius: 5px;
  padding: 8px;
}


// .clue-list-container::before,
// .clue-list-container::after {
//   content: "";
//   position: sticky;
//   width: 100%;
//   height: 20px; /* Adjust this value as needed */
//   z-index: 1;
//   pointer-events: none;
// }

// .clue-list-container::before {
//   top: 0;
//   background: linear-gradient(to bottom, white 0%, transparent 100%);
// }

// .clue-list-container::after {
//   bottom: 0;
//   background: linear-gradient(to top, white 0%, transparent 100%);
// }