.clue-modal-list-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
}


.used-class {
    padding: 4px;
    color: darkgray;
    background-color: lightgrey;
}

.use-class {
    padding: 4px;
    color: white;
    background-color: lightblue;
}