<form class="guesser-form">
  <div class="guesser-caption">
    <h3>Movie title</h3><p>0 of 3 movies guessed</p>
  </div>
    <mat-form-field class="example-full-width" shouldLabelFloat="false">
      <mat-label>Movie</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Movie"
             matInput
             [formControl]="guesserControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        @for (option of filteredOptions | async; track option) {
          <mat-option [value]="option">{{option}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </form>